<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.korvin.dominion">

    <application
        android:name=".dao.GameApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.girlinfo.GirlInfoDetailActivity"
            android:label="@string/title_girlinfo_detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.korvin.dominion.GirlInfoListActivity" />
        </activity>
        <activity
            android:name=".activity.main.MainTabActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.introduction.IntroductionHistoryActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.introduction.IntroductionCreateAvatarActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.castle.market.MarketSlaveListActivity"
            android:label="@string/title_marketslave_list"
            android:parentActivityName=".activity.main.MainTabActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.korvin.dominion.activity.main.MainTabActivity" />
        </activity>
        <activity
            android:name=".activity.castle.market.MarketSlaveDetailActivity"
            android:label="@string/title_marketslave_detail"
            android:parentActivityName=".activity.castle.market.MarketSlaveListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.korvin.dominion.activity.castle.market.MarketSlaveListActivity" />
        </activity>
        <activity
            android:name=".activity.castle.room.RoomDetailActivity"
            android:label="@string/title_room_detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.korvin.dominion.activity.castle.room.RoomListActivity" />
        </activity>
        <activity
            android:name=".activity.newday.StatsActivity"
            android:label="@string/title_activity_stats" />
        <activity
            android:name=".activity.newday.DungeonActivity"
            android:label="@string/title_activity_dungeon"></activity>
    </application>

</manifest>
